html * {
    font-family: 'Manrope', sans-serif;
}

.container canvas {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
}

.score__list {
    overflow: auto;
    line-break: anywhere;
    padding: 0;
    list-style: none;

}

.score {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 29em;
    display: flex;
    flex-direction: column;
}

.score__title {
    text-align: center;
}
