html * {
    font-family: 'Manrope', sans-serif;
}

.container canvas {
    border: 1px solid black;
}

.score__list {
    overflow: auto;
    line-break: anywhere;
    padding: 0;
    list-style: none;

}

.score {
    border: 1px solid black;
    border-radius: 5px;
    height: 29em;
    display: flex;
    flex-direction: column;
}

.score__title {
    text-align: center;
}
